body {
  background-color: #202124;
}

.title-container {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 80px;
  margin-top: 10%;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
}

.search-input {
  width: 30%;
  border-radius: 30px;
  font-size: 16px;
  padding: 13px 15px;
  background-color: #202124;
  border: 1px solid #5f6368;
  color: white;
  outline: none;
}

.search-buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.search-buttons {
  background-color: #303134;
  padding: 0 16px;
  height: 36px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  border: 0.1px solid #303134;
  border-radius: 5px;
}

.search-buttons:hover {
  border-color: #5f6368;
  cursor: pointer;
}
